.second {
    display: block;
}

.second .section {
    background-color: #e1e4d2;
    display: flex; 
    position: relative;
    width: 100%;
    margin: 0 auto; 
    margin-top: 100px;
    height: 450px;
}

.second .section .container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    width: 100%; 
    height: auto; 
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

.second .text1 {
    color: #2c471c;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 590px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 40px;
    width: 270px;
}

.second .text2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 275px;
    width: 331px;
}
    
.second .text3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 555px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 275px;
    width: 331px;
}

.second .text4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 1036px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 275px;
    width: 284px;
}    

.second .img1 {
    height: 89px;
    left: 84px;
    position: absolute;
    top: 140px;
    width: 140px;
}

.second .img2 {
    height: 89px;
    left: 247px;
    position: absolute;
    top: 138px;
    width: 95px;
}

.second .img3 {
    height: 107px;
    left: 660px;
    position: absolute;
    top: 150px;
    width: 104px;
}

.second .img4 {
    height: 81px;
    left: 1138px;
    position: absolute;
    top: 155px;
    width: 79px;
}

.second .learn {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 668px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 357px;
    width: 111px;
}