.help {
    display: block;
}

.help .section {
    background-color: #ffffff;
    display: flex; 
    position: relative;
    width: 100%;
    margin: 0 auto; 
    height: 500px;
}

.help .section .container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    width: 100%; 
    height: auto; 
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

.help .textbox {
    height: 350px;
    left: 91px;
    position: absolute;
    width: 400px;
    top: 40px; 
}

.help .text {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 55px;
    font-weight: 700;
    line-height: normal;
}

.help .text2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 210px;
    width: 452px;
}

.help .text3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 290px;
    width: 452px;
}

.help .text3 a {
    color: black; /* Change to your preferred link color */
    text-decoration: underline; /* Add underline to indicate it's a link */
}


.help .pic {
    height: 350px;
    left: 650px;
    object-fit: cover;
    position: absolute;
    top: 90px;
    width: 600px;
    border-radius: 30px;
}
.help .dropbtn {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(188, 190, 189);
    padding: 20px; 
    border-radius: 10px;
    width: 1000px;
    margin-left: 91px; 
}

.help .dropdown-content {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 1000px;
    margin-left: 110px; 
    margin-bottom: 20px; 
}