.provider {
    display: block;
}

.provider .section {
    background-color: #ffffff;
    display: flex; 
    position: relative;
    width: 100%;
    margin: 0 auto; 
    height: 563px;
}

.provider .section .container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    width: 100%; 
    height: auto; 
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

.provider .textbox {
    height: 350px;
    left: 91px;
    position: absolute;
    width: 400px;
    top: 40px; 
}

.provider .text {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 55px;
    font-weight: 700;
    line-height: normal;
}

.provider .text2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 210px;
    width: 452px;
}

.provider .text3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 290px;
    width: 452px;
}

.provider .pic {
    height: 350px;
    left: 610px;
    object-fit: cover;
    position: absolute;
    top: 90px;
    width: 700px;
    border-radius: 30px;
}